    @import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

     body {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Raleway', Helvetica, sans-serif;
  min-width: 320px;
}

.rowTab{
    padding: 10px 0;
}
table {
    border: 1px solid, black;
    width: 38%;
    margin: auto;
}